[
;-----------------------------------------------------------------------------
; partition definitions
  { :db/id                        #db/id[:db.part/db]
    :db/ident                     :people       ; we could namespace like :db.part/people if we wanted
    :db.install/_partition        :db.part/db }

;-----------------------------------------------------------------------------
; attribute definitions

  { :db/id                        #db/id[:db.part/db]   ; The partition :db.part/db is built-in to Datomic
    :db/ident                     :person/name
    :db/valueType                 :db.type/string
    :db/cardinality               :db.cardinality/one
    :db/unique                    :db.unique/value
    :db.install/_attribute        :db.part/db }   ; Datomic ceremony to "install" the new attribute
  
  { :db/id                        #db/id[:db.part/db]
    :db/ident                     :person/secret-id   ; Namespace/keyword can be anything (not predefined)
    :db/valueType                 :db.type/long
    :db/cardinality               :db.cardinality/one
    :db/unique                    :db.unique/value
    :db.install/_attribute        :db.part/db }

  { :db/id                        #db/id[:db.part/db]
    :db/ident                     :person/ssn-usa   ; Namespace/keyword can be anything (not predefined)
    :db/valueType                 :db.type/string
    :db/cardinality               :db.cardinality/one
    :db/unique                    :db.unique/value
    :db.install/_attribute        :db.part/db }
  
  { :db/id                        #db/id[:db.part/db]
    :db/ident                     :person/ssn-uk
    :db/valueType                 :db.type/string
    :db/cardinality               :db.cardinality/one
    :db/unique                    :db.unique/value
    :db.install/_attribute        :db.part/db }
  
  { :db/id                        #db/id[:db.part/db]
    :db/ident                     :person/ssn-hell
    :db/valueType                 :db.type/string
    :db/cardinality               :db.cardinality/one
    :db/unique                    :db.unique/value
    :db.install/_attribute        :db.part/db }
  
  { :db/id                        #db/id[:db.part/db]
    :db/ident                     :data/src
    :db/valueType                 :db.type/string
    :db/cardinality               :db.cardinality/one
    :db.install/_attribute        :db.part/db }
  
  { :db/id                        #db/id[:db.part/db]
    :db/ident                     :location
    :db/valueType                 :db.type/string
    :db/cardinality               :db.cardinality/one
    :db.install/_attribute        :db.part/db }
  
;-----------------------------------------------------------------------------
; enum values
; Literal representation of transaction list form:  [action entity-id attribute value]
;  <action>   <tmp entity id>     <attribute>  <value>
  [:db/add  #db/id[:db.part/user]  :db/ident  :weapon/gun]
  [:db/add  #db/id[:db.part/user]  :db/ident  :weapon/knife]
  [:db/add  #db/id[:db.part/user]  :db/ident  :weapon/guile]
  [:db/add  #db/id[:db.part/user]  :db/ident  :weapon/curse]

]
